/* start variables */
:root {
    --main-color: #0aac9b;
    --sacondary-color: #2c4655;
    --section-value: 60px;
    --third-color: #f6f6f6;
}

/* end variables */

/* start global rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: 'work sans', sans-serif;

}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* end global rules */

/* start components */
.special-heading {
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -5px;
    margin: 0;
}

.special-heading+p {
    margin: -30px 0 0;
    font-size: 20px;
    text-align: center;
    color: #797979;
}

@media (max-width: 767px) {
    .special-heading {
        font-size: 80px;
    }

    .special-heading+p {
        margin-top: -27px;
    }
}

/* end components */

/* start header */
.header {
    padding: 20px;
    background-color: #f6f6f6;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    width: 60px;
}

.header .links {
    position: relative;
}

.header .links:hover .icon span:nth-child(2) {
    width: 100px;
}

.header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header .links .icon span {
    background-color: #000;
    margin-bottom: 5px;
    height: 2px;
}

.header .links .icon span:first-child {
    width: 100%;
}

.header .links .icon span:nth-child(2) {
    width: 60%;
    transition: 0.3s;
}

.header .links .icon span:last-child {
    width: 100%;
}

.header .links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #d4d4d4;
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + 15px);
    display: none;
    border-radius: 5px;
    z-index: 1;
}

.header .links ul::before {
    content: "";
    position: absolute;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #d4d4d4 transparent;
    right: 5px;
    top: -20px;
}

.header .links:hover ul {
    display: block;
}

.header .links ul li a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: #333;
    transition: 0.3s;
}

.header .links ul li a:hover {
    padding-left: 30px;
}

.header .links ul li:not(:last-child) a {
    border-bottom: 1px solid #c0bfbf;
}

/* end header */

/* start landing section  */
.loading {
    background-image: url(../images/ningyu-he-tb49PTdW1ZM-unsplash.jpg);
    background-size: cover;
    background-position: center;
    height: calc(100vh - 64px);
    position: relative;
}

.loading .intro-text {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 320px;
    max-width: 100%;
}

.loading .intro-text h1 {
    margin: 0;
    font-weight: bold;
    font-size: 50px;
    color: var(--main-color);
}

.loading .intro-text p {
    font-size: 19px;
    line-height: 1.8;
}

/* end landing section  */

/* start features */
.features {
    padding-top: var(--section-value);
    padding-bottom: var(--section-value);
    background-color: var(--third-color);
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.features .feat {
    padding: 20px;
    text-align: center;
}

.features .feat i {
    color: var(--main-color);
    font-size: 40px;
}

.features .feat h3 {
    margin: 20px 0;
}

.features .feat p {
    line-height: 1.8;
    color: #777;
    font-size: 17px;
}

/* end features */

/* start services */
.services {
    padding-top: var(--section-value);
    padding-bottom: var(--section-value);
}

.services .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin-top: 100px;
}

.services .services-content .srv {
    display: flex;
    margin-bottom: 30px;
}

.services .services-content .srv i {
    color: var(--main-color);
    flex-basis: 60px;
    font-size: 40px;
}

.services .services-content .srv .text {
    flex: 1;
}

.services .services-content .srv .text h3 {
    margin: 0;
}

.services .services-content .srv .text p {
    color: #797979;
    font-weight: 300;
    line-height: 1.8;
}

@media (max-width: 767px) {
    .services .services-content .srv {
        flex-direction: column;
        text-align: center;
    }
}

.services .services-content .image img {
    width: 350px;
    height: 300px;
    border-radius: 5px;
}

.services .services-content .image {
    position: relative;
}

.services .services-content .image::before {
    content: "";
    position: absolute;
    background-color: var(--sacondary-color);
    width: 80px;
    height: calc(100% + 100px);
    top: -50px;
    right: 0;
    z-index: -1;
    border-radius: 5px;
}

@media (max-width: 1199px) {
    .services .services-content .image-column {
        display: none;
    }
}

/* end services */

/* start portfolio */
.portfolio {
    padding-top: var(--section-value);
    padding-bottom: var(--section-value);
    background-color: var(--third-color);
}

.portfolio .portfolio_content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin-top: 80px;
    gap: 30px;
}

.portfolio .portfolio_content .card {
    background-color: #fff;
}

.portfolio .portfolio_content .card img {
    width: 455px;
    max-width: 100%;
}

.portfolio .portfolio_content .card .info {
    padding: 20px;
}

.portfolio .portfolio_content .card .info h3 {
    margin: 0;
}

.portfolio .portfolio_content .card .info p {
    color: #777;
    line-height: 1.8;
    margin-bottom: 0;
}

@media (max-width: 767px) {
    .portfolio .portfolio_content .card .info h3 {
        text-align: center;
    }
    .portfolio .portfolio_content .card img{
        width: 628px;
    }

}

/* end portfolio */

/* start about */
.about {
    padding-top: var(--section-value);
    padding-bottom: var(--section-value);
    background-color: var(--third-color);
}

.about .about_content {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (max-width: 991px) {
    .about .about_content {
        flex-direction: column;
        text-align: center;
    }
}

.about .about_content .image {
    position: relative;
    z-index: 0;
    width: 300px;
}

@media (max-width: 991px) {
    .about .about_content .image {
        margin: 0 auto 60px;
    }

}

.about .about_content .image img {
    max-width: 100%;
}

.about .about_content .image::before {
    content: '';
    position: absolute;
    background-color: #dddddd;
    width: 60px;
    height: 100%;
    left: -20px;
    top: -50px;
    z-index: -1;
}

.about .about_content .image::after {
    content: '';
    position: absolute;
    width: 90px;
    height: 170px;
    border-left: 60px solid var(--main-color);
    border-bottom: 60px solid var(--main-color);
    right: -100px;
    top: -60px;
    z-index: -1;
}

@media (max-width: 991px) {

    .about .about_content .image::before,
    .about .about_content .image::after {
        display: none;
    }
}

.about .about_content .text {
    flex-basis: calc(100% - 550px);
}

.about .about_content .text p:first-of-type {
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
}

.about .about_content .text hr {
    width: 50%;
    display: inline-block;
    border-color: var(--main-color);
}

.about .about_content .text p:last-of-type {
    line-height: 2;
    color: #797979;
}

/* end about */

/* start contact */
.contact {
    padding-top: var(--section-value);
    padding-bottom: var(--section-value);
    background-color: var(--third-color);
}
.contact .info{
    padding-top: var(--section-value);
    padding-bottom: var(--section-value);
    background-color: var(--third-color);
    text-align: center;
}
.contact .info .label{
    font-size: 40px;
    font-weight: 800;
    color: var(--sacondary-color);
    letter-spacing: -2px;
    margin-bottom: 15px;
}
 .contact .info .link{
    display: block;
    font-size: 40px;
    font-weight: 800;
    color: var(--main-color);
    text-decoration: none;
}
.contact .info .social{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 18px;
}
.contact .info .social i{
    margin-left: 10px;
    color: var(--sacondary-color);
}
@media (max-width: 767px){
    .contact .info .label,
    .contact .info .link{
        font-size: 25px;
    }
}
/* end contact */
/* start foooter */
.footer{
    background-color: var(--sacondary-color);
    text-align: center;
    padding: 40px;
    color: #fff;
    font-size: 18px;
}
.footer span{
    color: var(--main-color);
    font-weight: bold;
}
/* end foooter */